<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form method="POST">
            <fieldset>
                {% csrf_token %}
                <input type="text" id="fname" name="nome" placeholder="Nome">
                <input type="email" id="email" name="email" placeholder="Email">
                <input type="password" id="senha" name="senha" placeholder="Senha">
                <button type="submit">Enviar</button>
            </fieldset>
        </form>
        <a href="./cadastrar">Não tem cadastro? Faça-o agora!</a>
    </div>
</body>
</html>
